{{#each car as |car|}}

<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="{{car.image}}" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="card-header">
            <p class="title is-4"><a href="/cars/{{car.id}}">{{car.title}}</a></p>
            <p class="subtitle is-6">Created by: {{car.username}} on {{format_date post.date_created}}</p>
        </div>
    </div>
    <div class="content">
        <div class="is-flex is-justify-content-space-between">
            <p class="is-size-5">{{car.description}}</p>
    </div>
</div> 

{{/each}}
