{{#each cars as |car|}}

<div class="column is-fluid is-12">
    <div class="columns">
        <div class="column is-4">
            <img class="image" src="{{car.image_URL}}" alt="Placeholder image">
        </div>
        <div class="column is-8">
            <p class="title is-size-4 mb-6"><a href="/api/cars/{{car.id}}">{{car.title}}</a></p>
            <p class="subtitle is-size-8">Posted by: {{car.user.name}} on {{format_date car.date_created}}</p>
            <p class="is-size-12">{{car.description}}</p>
        </div>
    </div>
</div>

{{/each}}